/* source-serif-pro-latin-200-normal */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(@fontsource/source-serif-pro/files/source-serif-pro-latin-200-normal.woff)
      format("woff"),
    url(@fontsource/source-serif-pro/files/source-serif-pro-latin-200-normal.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-pro-latin-300-normal */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/source-serif-pro/files/source-serif-pro-latin-300-normal.woff)
      format("woff"),
    url(@fontsource/source-serif-pro/files/source-serif-pro-latin-300-normal.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-pro-latin-400-normal */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/source-serif-pro/files/source-serif-pro-latin-400-normal.woff)
      format("woff"),
    url(@fontsource/source-serif-pro/files/source-serif-pro-latin-400-normal.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-pro-latin-600-normal */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/source-serif-pro/files/source-serif-pro-latin-600-normal.woff)
      format("woff"),
    url(@fontsource/source-serif-pro/files/source-serif-pro-latin-600-normal.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-pro-latin-700-normal */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/source-serif-pro/files/source-serif-pro-latin-700-normal.woff)
      format("woff"),
    url(@fontsource/source-serif-pro/files/source-serif-pro-latin-700-normal.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-latin-100-normal */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(@fontsource/lato/files/lato-latin-100-normal.woff2) format("woff2"),
    url(@fontsource/lato/files/lato-latin-100-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-latin-300-normal */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/lato/files/lato-latin-300-normal.woff2) format("woff2"),
    url(@fontsource/lato/files/lato-latin-300-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-latin-400-normal */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/lato/files/lato-latin-400-normal.woff2) format("woff2"),
    url(@fontsource/lato/files/lato-latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-latin-700-normal */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/lato/files/lato-latin-700-normal.woff2) format("woff2"),
    url(@fontsource/lato/files/lato-latin-700-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-latin-900-normal */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(@fontsource/lato/files/lato-latin-900-normal.woff2) format("woff2"),
    url(@fontsource/lato/files/lato-latin-900-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cormorant-garamond-latin-wght-normal */
@font-face {
  font-family: "Cormorant Garamond Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(@fontsource-variable/cormorant-garamond/files/cormorant-garamond-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* dancing-script-latin-wght-normal */
@font-face {
  font-family: "Dancing Script Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url(@fontsource-variable/dancing-script/files/dancing-script-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
