/* global.scss */
@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts" as *;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: $font-lato;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: $color-text;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $color-background;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.link {
  color: $color-red;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $color-text;
  }
}
