---
import { getLocale, t , getLangFromUrl } from '@/utils/i18n';
import House from '@/assets/house.svg';
const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div class="getting">
  <House/>
  <h2 class="title-cormorant-h2">{t(locale, "travel.getting.title")}</h2>
  <p>{t(locale, "travel.getting.paragraph1")}</p>
  <p>{t(locale, "travel.getting.paragraph2")}</p>
  <p>{t(locale, "travel.getting.paragrap3")}</p>
</div>
<style lang="scss">
.getting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__text {
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: $font-size-md;
    color: $color-red;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }


}

</style>