---
import { getLocale, t , getLangFromUrl } from '@/utils/i18n';
import House from '@/assets/house.svg';
const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div class="getting" id="getting-around">
  <House class="getting__image"/>
  <h2 class="title-cormorant-h2">{t(locale, "travel.getting.title")}</h2>
  <div class="getting__text">
    <p set:html={t(locale, 'travel.getting.paragraph1')}></p>
    <p set:html={t(locale, 'travel.getting.paragraph2')}></p>
    <p set:html={t(locale, 'travel.getting.paragraph3')}></p>
  </div>
</div>
<style lang="scss">
.getting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__image {
    margin-bottom: 2rem; 
    min-width: 4rem;
    height: auto; 
  }

  &__text {
    font-family: $font-cormorant;
    line-height: 2rem;
    font-weight: 300;
    font-size: $font-size-md;
    margin-bottom: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    :global(.f600) {
      font-weight: 600;
    }
  }

  @media (min-width: 720px) {
    max-width: 36rem;
    padding-inline: 0;
    padding-block: 4rem;
    margin: auto;
  } 
}

</style>