---
import { getLocale, t , getLangFromUrl } from '@/utils/i18n';
import House from '@/assets/house.svg';
const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div class="getting">
  <House class="getting__image"/>
  <h2 class="title-cormorant-h2">{t(locale, "travel.getting.title")}</h2>
  <div class="getting__text">
    <p>{t(locale, "travel.getting.paragraph1")}</p>
    <p>{t(locale, "travel.getting.paragraph2")}</p>
    <p>{t(locale, "travel.getting.paragraph3")}</p>
  </div>
</div>
<style lang="scss">
.getting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__image {
    margin-bottom: 4rem;  
  }

  &__text {
    font-family: $font-cormorant;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: $font-size-base;
    margin-bottom: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

</style>