---
import { getLocale, t , getLangFromUrl } from '@/utils/i18n';
import Sun from '@/assets/sun-w.svg';
import Palmeras from "@/assets/palmeras.svg";

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div class="weather" id="weather">
  <Sun class="weather__icon"/>
  <h2 class="title-cormorant-h2">{t(locale, "travel.weather.title")}</h2>
  <h3 class="subtitle-dancing-h3">{t(locale, "travel.weather.subtitle")}</h3>
  <div class="weather__content">      
    <Palmeras class="weather__content__icon"/>
    <div class="weather__content__text">
      <p class="">{t(locale, "travel.weather.text1")}</p>
      <p class="">{t(locale, "travel.weather.text2")}</p>

      <p class="">{t(locale, "travel.weather.text3")}</p>

    </div>
  </div>



</div>
<style lang="scss">
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__text {
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: $font-size-md;
    color: $color-red;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: flex;

    &__text{
      display: flex;
      flex-direction: column;
      font-family: $font-cormorant;
      font-size: $font-size-md;
      line-height: 2rem;
      font-weight: 200;
      margin-left: 1rem;
      text-align: right;
      gap: 1rem;
    }
    &__icon{
      width: 100%;
      height: auto;
      max-width: 4rem;
    }
  }

  &__icon {
    color: $color-red;
    min-width: 4rem;
    height: auto;
    margin-bottom: 4rem; 
  }

  @media (min-width: 720px) {
    max-width: 42rem;
    padding-inline: 0;
    padding-block: 4rem;
    margin: auto;
  } 


}

</style>