---
import Button from '@/components/atoms/Button.vue';
import { getLocale, t , getLangFromUrl } from '../../utils/i18n';
import PeopleDancing from '@/assets/dancing.svg';
import Carousel from './Carousel.vue';

const imagesObj = import.meta.glob('/src/assets/coupleShoot/*.{jpeg,jpg,png,gif,webp}', { eager: true });

// 2. Convertimos ese objeto en un array simple para pasarlo al componente de Vue
const misImagenes = Object.values(imagesObj).map((img: any) => ({
  src: img.default.src,
  alt: "Imagen de mi galería"
}));

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);
---

<footer class="footer">
  <PeopleDancing class="footer__image" />
  <p class="footer__text">{t(locale, "footer.text")}</p>
  <Button  extraClass={`footer__button ${locale === 'es' ? 'footer__button--es' : 'footer__button--en'}`}
  href=`/${locale}/rsvp` label={t(locale, "rsvp.title")}/>
  <div class="container">
   <Carousel images={misImagenes} client:load/>
   </div>
</footer>

<style lang="scss" scoped>
.container {
    width: 100vw;
    margin: 0 auto;
    // padding: 2rem;
  }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  &__image { 
    width: 100%;
    margin-bottom: 5rem;
  }

  &__text {
    max-width: 12rem;
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: $font-size-md;
    color: $color-red;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__button {
    margin-bottom: 5rem;
    width: 9rem;

    &--es {
      width: 12rem;
    }
  }

  @media (min-width: 720px) {
    &__text {
      max-width: 100%;
      font-size: $font-size-lg;
    }
  }
}
</style>