---
import { Image } from 'astro:assets';
import { getLocale, t , getLangFromUrl } from '../../utils/i18n';
import alexMaria03 from '@/assets/alex-maria03.jpg';
import marco2 from '@/assets/marco2.png';
import marco2_1 from '@/assets/marco2-1.png';
const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---
<div class="ourstory-home">
  <h2 class="title-cormorant-h2">{t(locale, "story.title")}</h2>
  <h3 class="subtitle-dancing-h3">{t(locale, "story.subtitle")}</h3>
  <div class="ourstory-home__text">
    <p>{t(locale, "story.text")}</p>
    <p>{t(locale, "story.text2")}</p>
  </div>
</div>
<Image class={"ourstory-home__marco"} src={marco2} alt="linea marco" />
<figure class="ourstory-home__figure">
  <Image src={alexMaria03} alt="Maria and Alex 03" />
</figure>
<Image class={"ourstory-home__marco"} src={marco2_1} alt="linea marco" />

<style lang="scss" scoped>
.ourstory-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__text {
    font-family: $font-cormorant;
    font-size: $font-size-base;
    font-weight: 200;
    color: $color-text;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  &__button {
    margin-bottom: 5rem;
    width: 9rem;
  }

  &__marco {
    width: 100%;
    max-width: 32rem;
    height: auto;
  }

  &__figure {
    width: 100%;
    max-width: 32rem;
    padding-left: 6%;
    padding-right: 9%;

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      border: 1rem solid $color-white; border-width: 1rem 1rem 2.5rem 1rem;
      transform: rotate(5deg);
      box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.25);;

    }
  }
  @media (min-width: 720px) {
    max-width: 36rem;
    padding-inline: 0;
    padding-block: 4rem;
    margin: auto;

    &__figure {
      max-width: 10rem;
      padding-left: 10%;
      padding-right: 10%;
      margin: auto;
    }
  } 
}

@media (min-width: 1024px) {
    .ourstory-home {
    &__marco {
      width: 100%;
      max-width: 100%;
    }

    &__figure {
      max-width: 80%;
      // padding-left: 2%;
      // padding-right: 2%;
      margin: auto;
    }
  }
}
</style>