---
import Button from '@/components/atoms/Button.vue';

---
<div class="ourstory-home">
  <h2>Our Story</h2>
  <div class="ourstory-home__text">
    <p>It all started with an unexpected match.
      She was looking for inspiration for her next trip; he was looking for someone who wasn't afraid to sing at the top of their lungs in the car.</p>
    <p>One autumn afternoon, amid laughter, coffee and a playlist that continues to grow, they discovered they shared much more than favourite songs.</p>
  </div>
  <Button extraClass='ourstory-home__button' href=`/rsvp` label='RSVP'/>

</div>