---
import Button from '@/components/atoms/Button.vue';
import { getLocale, t , getLangFromUrl } from '../../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);
---
<section class="travel">
  <h2 class="title-cormorant-h2">{t(locale, "home.travel&stay.title")}</h2>
  <h3 class="subtitle-dancing-h3">{t(locale, "home.travel&stay.subtitle")}</h3>
  <p class="travel__text">{t(locale, "home.travel&stay.text")}</p>
  <Button extraClass='travel__button' href=`/${locale}/travel` label={t(locale, "home.travel&stay.buttonLabel")} size='large'/>
</section>

<style lang="scss" scoped>
.travel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;

  &__text {
    font-family: $font-cormorant;
    font-size: $font-size-base;
    font-weight: 200;
    color: $color-text;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  &__button {
    margin-bottom: 5rem;
    width: 13rem;
  }




}
</style>