---
import LineTimeline from '../components/atoms/LineTimeline.vue';
import Title from '../components/atoms/Title.astro';
import IntroHome from '@/components/organism/IntroHome.astro';

import { getLocale, t , useTranslatedPath, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div id="container">
	<main>
	<IntroHome/>	
	<LineTimeline/>

		</section>
	</main>
</div>
