---
import IntroHome from '@/components/organism/IntroHome.astro';
import Schedule from '@/components/organism/Schedule.astro';
import Travel from '@/components/organism/Travel.astro';
import Faqs from '@/components/organism/Faqs.astro';
import Footer from '@/components/organism/Footer.astro';
---

<div id="container">
	<main>
		<IntroHome/>
		<Schedule/>
		<Travel/>
		<Faqs/>
		<Footer/>
	</main>
</div>
