---
import Title from '../components/atoms/Title.astro';
import IntroHome from '@/components/organism/IntroHome.astro';
import OurStory from '@/components/organism/OurStory.astro';
import { getLocale, t , useTranslatedPath, getLangFromUrl } from '../utils/i18n';
import Schedule from '@/components/organism/Schedule.astro';
import Travel from '@/components/organism/Travel.astro';
import Faqs from '@/components/organism/Faqs.astro';

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div id="container">
	<main>
		<IntroHome/>
		<OurStory/>
		<Schedule/>
		<Travel/>
		<Faqs/>
	</main>
</div>
