---
import LineTimeline from '../components/atoms/LineTimeline.vue';
import Title from '../components/atoms/Title.astro';

import { getLocale, t , useTranslatedPath, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

---

<div id="container">
	<main>
	<Title text={t(locale, "ceremony.title")}/>
	<LineTimeline/>


		</section>
	</main>
</div>
