---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/organism/Footer.astro";
import IntroTravel from '@/components/organism/travel/IntroTravel.astro';
import Getting from "@/components/organism/travel/Getting.astro";
import Airports from "@/components/organism/travel/Airports.astro";
import Accomodation from "@/components/organism/travel/Accomodation.astro";
import Around from "@/components/organism/travel/Around.astro";
---

<Layout>
  <div id="container">
    <main>
      <IntroTravel/>
      <Getting/>
      <Airports/>
      <Accomodation/> 
      <Around/>
      <Footer/>
    </main>
  </div>
</Layout>
