---
import { getLocale, t , getLangFromUrl } from '../../utils/i18n';
import StampMark from '@/assets/stamp.svg';

const lang = getLangFromUrl(Astro.url);
const locale = getLocale(lang);

const { title, icon: Icon, target } = Astro.props;

---
<a href={`#${target}`} class="stamp">
  <h4 class="stamp__text">{title}</h4>
  <div class="stamp__wrap">
    <StampMark class="stamp__svg"/>
    <Icon class="stamp__icon"/>
  </div>
</a>

<style lang="scss" scoped>
.stamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $color-text;
  &__text {
    font-family: $font-dancing;
    font-size: $font-size-sm;
    font-weight: 400;
    color: $color-text;
    text-transform: lowercase;
    margin-bottom: 0.5rem;
  }

  &__wrap {
    position: relative;
    width: 100%;  
    height: auto; 
  }

  &__svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &__icon {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50%;
    // max-width: 3rem;  
    height: auto;

  }

  &:hover {
    cursor: pointer;
    color: $color-red;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;

    .stamp__text {
      color: $color-red;
    }
  }
}

</style>