---
const { title, subtitle, image } = Astro.props;
---
<section 
  class="hero"
  style={`background-image: url(${image})`}
>
  <div class="hero__content">
    <h1 class="hero__title">{title}</h1>
    {subtitle && <p class="hero__subtitle">{subtitle}</p>}
    <slot /> 
  </div>
</section>
<style lang="scss" scoped>
  .hero {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    position: relative; // importante
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;
    


    &__title {
      font-size: $font-size-4xl;
      font-family: $font-serif;
      font-weight: 300;
     
    }
    &__subtitle {
      font-size: $font-serif;
      font-weight: 300;
      font-size: $font-size-md;
  
    }
  }
</style>