---
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>A&M 30.05.2025</title>

  </head>
  <body>
    <slot />
  </body>
</html>
