---
import "../styles/global.scss";
import HeaderRsvp from '@/components/molecules/rsvp/HeaderRsvp.astro'
import { languages, getLangFromUrl } from '@/utils/i18n';
const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>A&M 30.05.2025</title>
  </head>
  <body>
      <HeaderRsvp />
    <main>
      <slot />
    </main>
  </body>
</html>
