---
import Header from '@/components/molecules/Header.vue';
import { getLocale, t , languages, useTranslatedPath, getLangFromUrl } from '@/utils/i18n';

const lang = getLangFromUrl(Astro.url);
// const lang = ge∫tLangFromUrl(Astro.url);

const locale = getLocale(lang);
const translatePath = useTranslatedPath(lang);

import logo from '@/assets/logoam.png' // <-- importar la imagen

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<link rel="stylesheet" href="/src/styles/global.scss" />
		<meta name="generator" content={Astro.generator} />
		<title>A&M 30.05.2025</title>
	</head>
	<body>
		<Header languages={languages} lang={lang} logo="/src/assets/logoam.png" client:load/>
		<slot />
	</body>
</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
