---
import Header from '@/components/molecules/Header.vue';
import { getLocale, t , languages, useTranslatedPath, getLangFromUrl } from '@/utils/i18n';
import Hero from '@/components/molecules/Hero.astro';
import bgImage from "../assets/alex-maria01.jpeg";
import '../styles/global.scss';
import logoImage from "../assets/logoam.png";


const lang = getLangFromUrl(Astro.url);
const path = Astro.url.pathname;




let heroData = {
  title: "Maria & Alex",
  subtitle: "30.05.2026",
  image: bgImage.src
};

console.log("Current path:", path);

if (path === "/") {
  heroData = {
    title: "Inicio",
    subtitle: "Bienvenido a la web",
    image: bgImage.src
  };
} else if (path.startsWith("/servicios")) {
  heroData = {
    title: "Nuestros Servicios",
    subtitle: "Lo que hacemos mejor",
    image: bgImage.src
  };
} else if (path.startsWith("/contacto")) {
  heroData = {
    title: "Contáctanos",
    subtitle: "Estamos aquí para ayudarte",
    image: bgImage.src
  };
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>A&M 30.05.2025</title>
	</head>
	<body>
		<Header client:load languages={languages} lang={lang} logo={logoImage.src}/>
		<Hero {...heroData} />
		<main>
		<slot />
		</main>
	</body>
</html>

